<head>
    <style>
        div.caye{padding:20px}  
        h2.caye{padding-top:100px;padding-left:75px;padding-right:75px; line-height: 30px;}
        a.caye2{padding-left:75px; padding-right:75px; padding-top:65px; font-size: 26px; color: white}
    </style>
</head>
<div class="caye">
    <script src="https://www.wpromotions.eu/confetti.min.js"></script>
    <script>confetti.start()</script>
    <script>setTimeout(function(){confetti.stop();},910)</script>
    <h2 class="caye">I am so glad you're interested in collaborating with Band Sanitizer on the upcoming release dedicated to fundraise for Lowell's music department. 
        Let me know if you would like to contribute and feel free to contact me if you have any questions.</h2>
    <a class="caye2" href="mailto: cayelee.g@gmail.com">cayelee.g@gmail.com</a>

</div>