<div id="gallery">
    <div class="galleryTitle aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <h2>BAND SANITIZER COVER EP</h2>
    </div>
    <div class="gallerycol aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="ytvid">
            <iframe src="https://www.youtube.com/embed/BaZaR2FhHxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="gallerycol aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="ytvid">
            <iframe src="https://www.youtube.com/embed/9Zhf87tGgZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="gallerycol aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="ytvid">
            <iframe src="https://www.youtube.com/embed/hu_zz0DDYJo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="gallerycol aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="ytvid">
            <iframe src="https://www.youtube.com/embed/hQVUFp3ZMz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="gallerycol aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <div class="ytvid">
            <iframe src="https://www.youtube.com/embed/bfUsWS2xayM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>