<header>
    <div>
        <nav role="navigation" class="nav-menu navigation" id="desktop-nav-menu">
            <div>
                <a href="/" class="nav-link">BAND SANITIZER</a>
                <a href="/music" class="nav-link">MUSIC</a>
                <a href="/gigs" class="nav-link">GIGS</a>
                <a href="/band" class="nav-link">BAND</a>
                <a href="/gallery" class="nav-link">GALLERY</a>
                <a href="/shop" class="nav-link">SHOP</a>
                <div class="glass-btn">
                    <a href="https://open.spotify.com/artist/2vGPTwErwRJiM4D1OVl6xE"> 
                        <img src="http://wptf.com/wp-content/uploads/2014/05/play-button.png" width="39" height="39" alt="Play">
                    </a>
                </div>
                <!-- <a href="#">Stream BS</a> -->
            </div>
        </nav>
    </div>
    <div>
        <nav role="navigation" class="mobile-nav-menu">
            <a href="/"><h2 class="" id="mobile-nav-title">BAND SANITIZER</h2></a>
            <a id="hamburger-icon" href="#" title="Menu">
              <span class="line line-1"></span>
              <span class="line line-2"></span>
              <span class="line line-3"></span>
            </a>
            <div id="mobile-link-container" class="mobile-nav-display">
                <div class="mobile-nav-links-index">
                    <a href="/music" class="mobile-nav-links" id="link1">MUSIC</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="/gigs" class="mobile-nav-links" id="link2">GIGS</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="/band" class="mobile-nav-links" id="link3">BAND</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="/gallery" class="mobile-nav-links" id="link4">GALLERY</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="/shop" class="mobile-nav-links" id="link5">SHOP</a>
                </div>
                <div class="mobile-nav-links-index">
                    <div class="glass-btn">
                        <a href="https://open.spotify.com/artist/2vGPTwErwRJiM4D1OVl6xE" class="mobile-nav-links" id="link6">
                            <img src="http://wptf.com/wp-content/uploads/2014/05/play-button.png" width="39" height="39" alt="Play">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
</header>