<header>
    <div>
        <nav role="navigation" class="nav-menu navigation" id="desktop-nav-menu">
            <div>
                <a class="nav-link">BS</a>
                <a href="/music" class="nav-link">Music</a>
                <a href="/gigs" class="nav-link">Gigs</a>
                <a href="/band" class="nav-link">Band</a>
                <a href="/gallery" class="nav-link">Gallery</a>
                <a href="/shop" class="nav-link">Shop</a>
                <div class="glass-btn">
                    <img src="http://wptf.com/wp-content/uploads/2014/05/play-button.png" width="39" height="39" alt="Play">
                </div>
                <!-- <a href="#">Stream BS</a> -->
            </div>
        </nav>
    </div>
    <div>
        <nav role="navigation" class="mobile-nav-menu">
            <h2 class="" id="mobile-nav-title">BS</h2>
            <a id="hamburger-icon" href="#" title="Menu">
              <span class="line line-1"></span>
              <span class="line line-2"></span>
              <span class="line line-3"></span>
            </a>
            <div id="mobile-link-container" class="mobile-nav-display">
                <div class="mobile-nav-links-index">
                    <a href="#home-screen" class="mobile-nav-links" id="link1">Music</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#about-container" class="mobile-nav-links" id="link2">Gigs</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#faq-section" class="mobile-nav-links" id="link3">Band</a>
                </div>
                <div class="mobile-nav-links-index">
                    <a href="#schedule-section" class="mobile-nav-links" id="link4">Gallery</a>
                </div>
            </div>
        </nav>
    </div>
    
</header>