<header>
    <div>
        <nav>
            <div>
                <a href="/">BS</a>
                <a href="/music">Music</a>
                <a href="/gigs">Gigs</a>
                <a href="/band">Band</a>
                <a href="/gallery">Gallery</a>
                <!-- <a href="#">Stream BS</a> -->
            </div>
        </nav>
    </div>
</header>