<header>
    <div>
        <nav role="navigation" class="nav-menu navigation" id="desktop-nav-menu">
            <div>
                <a class="nav-links" id="nav-htc-title">BS</a>
                <a href="#home-screen" class="nav-link">Music</a>
                <a href="#about-container" class="nav-link">Gigs</a>
                <a href="#faq-section" class="nav-link">Band</a>
                <a href="#schedule-section" class="nav-link">Gallery</a>
                <!-- <a href="#">Stream BS</a> -->
            </div>
        </nav>
    </div>
    
</header>