<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/music.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gigs.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/band.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shop.css">
    <title>Band Sanitizer Official</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- body %>
    <%- include('../partials/footer.ejs') %>
</body>
</html>