<div class="video-wrapper fade-in">
    <video playsinline src="/videos/bandsanirockx.mp4" type="video/mp4" autoplay muted loop id="bandsani-vid">
    </video>
    <div class="band-title">
        <h1 class="large">BAND SANITIZER</h1>
        <h1 class="med">SAVING THE WORLD ONE SQUIRT AT A TIME</h1>
    </div>
</div>

<div class="streamNow aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
    <div class="column5">
        <h1 class="streamNowTitle">STREAM AND PURCHASE BAND SANITIZER'S COVER EP</h1>
        <h3>This EP is a fundraiser for Lowell High School <br> 100% of net proceeds go to <a class="glow" href="https://www.lowellptsa.org"> Lowell High School PTSA and Music Program </a></h3>
    </div> 
    <div class="column6">
        <a target="_blank" rel="noopener" class="" href="https://sanitizer.bandcamp.com/releases" aria-label="youtube" style="color:#000">
            <button class="btn third">STREAM NOW</button>
        </a>
    </div>
</div>
<div class="streamNow aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500" data-aos-delay="300">
    <div class="column5">
        <h1 class="streamNowTitle">SHOP BAND SANITIZER MERCHANDISE</h1>
    </div>
    <div class="column6">
        <a href="/shop" aria-label="youtube" style="color:#000">
            <button class="btn third">SHOP</button>
        </a>
    </div>
</div>
<div style="clear: both;"></div>



