<div class="video-wrapper fade-in">
    <video src="/videos/bandsanirockx.mp4" type="video/mp4" autoplay muted loop id="bandsani-vid">
    </video>
    <div class="band-title">
        <h1 class="large">Band Sanitizer</h1>
        <h1 class="med">Saving the world one squirt at a time</h1>
    </div>
</div>

<div>
    Stream BS
</div>



