<div class="video-wrapper">
    <video src="/videos/bandsanirockx.mp4" type="video/mp4" autoplay muted loop id="bandsani-vid">
    </video>
    <div id="band-title">
        <h2>Band Sanitizer</h2>
        <h4>Saving the world one squirt at a time</h4>
    </div>
</div>

<div>
    Hello
</div>
<div>
    Hello
</div>

<div>
    Hello
</div>

<div>
    Hello
</div>


