<div class="video-wrapper fade-in">
    <video src="/videos/bandsanirockx.mp4" type="video/mp4" autoplay muted loop id="bandsani-vid">
    </video>
    <div class="band-title">
        <h1 class="large">Band Sanitizer</h1>
        <h1 class="med">Saving the world one squirt at a time</h1>
    </div>
</div>

<div class="streamNow">
    <div class="column5">
        <h1 class="streamNowTitle">Stream Band Sanitizer's Cover EP Friday, April 2, 2021 on Bandcamp!</h1>
        <h3>This EP is a fundraiser for Lowell High School <br> 100% of net proceeds go to</h3>
    </div> 
    <div class="column6">
        <a href="https://www.youtube.com/watch?v=BaZaR2FhHxs">
            <button class="btn third">Stream Now</button>
        </a>
    </div>
</div>
<div style="clear: both;"></div>



