/* color #2B6C64 */
#band {
    padding-top: 40px;
}
.about1 {
    height: 100%;
    padding-top: 39px;
    padding-bottom: 39px;
    padding-left: 65px;
    padding-right: 65px;
    margin: 0px;
    text-align: left;
}
.about1 h2 {
    font-size: 39px;
}
.about1 p {
    font-size: 21px;
}
.about {
    width: 100%;
    height: 100%;
}
.post-wrap {
    width: 320px;
    height: 100vh;
    perspective: 1000px;
 }

.post img {
    /* top: 10%; */
    object-fit: cover;
    height: 100vh;
    width: 100%;
}
 .post {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
   transform-style: preserve-3d; 
   text-align: center;
 }

 .post-front, .post-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
 }
 .post-back {
    transform: rotateY(180deg);
 }
 .post-wrap:hover .post{
    transform: rotateY(180deg);
 }

 .column {
    float: left;
    width: 16.66%;
    margin: 0;
    padding: 0;
 }
.column3 {
    width: 50%;
    /* padding-top: center; */
    padding-left: 0px;
    padding-bottom: 52px;
    padding-right: 0px;
    margin: 0px;
    float: left;
}
 @media (max-width: 1024px) {
    #band {
        padding-top: 0px;
    }
    .post-wrap {
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .column3 {
        width: 100%;
    }
 }