svg {
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    background: white;
    fill: rgb(43, 108, 100);
}
footer {
    width: 100%;
    background-color: #2B6C64;
    margin: 0px;
    padding: 0px;
}
footer h3 {
    padding-top: 0px;
    margin: 0px;
    text-align: center;
    color: white;
}
footer img {
    padding-top: 21px;
    width: 130px;
    height: 50px;
}
footer p {
    color: white;
}
.center {
    width: 50%;
    margin: auto;
    text-align: center;
    height: 210px;
}

.glow {
    color: rgba(255, 255, 255, 0.8);
}

.glow:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(43, 108, 100, 0.4);
}

@media (max-width: 800px) {
    .center {
        width: 100%;
    }
    .footer-icon {
        margin-right: 0px;
        width: 20%;
        float: left;
        text-decoration: none;
    }
}