#index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.column5 {
	width: 70%;
    float: left;
	padding-bottom: 78px;
	padding-top: 39px;
}
.column6 {
	width: 30%;
    float: left;
	padding-bottom: 78px;
	padding-top: 39px;
}
.streamNow {
	height: 100%;
	padding-right: 78px;
	padding-left: 78px;
	
}

.streamNowTitle {
	font-weight: 900;
    font-style: bold;
    font-size: 26px;
}

.btn {
	float: right;
	box-sizing: border-box;
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
	background-color: transparent;
	border: 2px solid #2b6c64;
	border-radius: 0.6em;
	color: #2b6c64;
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-self: center;
		-ms-flex-item-align: center;
			align-self: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	margin: 20px;
	padding: 1.2em 2.8em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
  }
  .btn:hover, .btn:focus {
	color: #fff;
	outline: 0;
  }
  .third {
	border-color: #2b6c64;
	color: #fff;
	box-shadow: 0 0 40px 40px #2b6c64 inset, 0 0 0 0 #2b6c64;
	-webkit-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
  }
  .third:hover {
	box-shadow: 0 0 10px 0 #2b6c64 inset, 0 0 10px 4px #2b6c64;
  }
  @media (max-width: 1000px) {
	.column5 {
		width: 100%;
		padding-top: 10px;
		padding-bottom:15px; 
	}
	.column6 {
		width: 100%;
		padding-top: 10px;
		padding-bottom:15px; 
	}
	.btn {
		text-align: left;
		width: 90%;
	}
}