@import "./shared/fonts.css";

:root {
    font-family: 'Barlow';
    font-size: 20px;
    color: white;
}

html {
    padding: 0px;
    height: 100%;
    /*-webkit-text-size-adjust: none;*/
}

body {
    
    background-color: #272B30;
    font-size: 16px;
    line-height: 20px;
    /* display: inline-block; */
    height: 100%;
}

.content {
    padding-top: 40px;
}