@import "./shared/fonts.css";

:root {
    font-family: 'Barlow';
    font-size: 20px;
    color: white;
}

html {
    padding: 0px;
    height: 100%;
    width: 100%;
    /*-webkit-text-size-adjust: none;*/
}

body {
    background-color: rgb(3, 3, 3);
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    margin: 0 auto;
}

.content {
    padding-top: 40px;
}

@media (max-width: 800px) {
    
    #container {
      padding: 0;
      margin: 0;
    }

}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
