@import "./shared/fonts.css";

:root {
    font-family: 'Barlow';
    font-size: 20px;
    color: white;
}

html {
    padding: 0px;
    height: 100%;
    width: 100%;
    /*-webkit-text-size-adjust: none;*/
}

body {
    background-color: rgb(3, 3, 3);
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.content {

}

#bandsani-vid {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-wrapper {
    height: 100vh;
    overflow: hidden;
}

.band-title {
    position: absolute;
    top: 33%;
    display: block;
    width: 100%;
    z-index: 10;
    text-align: center;
}

@media (max-width: 800px) {
    
    #container {
      padding: 0;
      margin: 0;
    }
    .band-title {
        line-height: 65px;
    }

}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.fade-in2 {
    animation: fadeIn ease 6s;
    -webkit-animation: fadeIn ease 6s;
    -moz-animation: fadeIn ease 6s;
    -o-animation: fadeIn ease 6s;
    -ms-animation: fadeIn ease 6s;
}
.fade-in3 {
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
}

.large {
    font-weight: 800;
    font-style: bold;
    font-size: 150px;
    line-height: 130px;
    margin-bottom: 39px;;
}

.med {
    line-height: 20px;
    font-weight: 500;
    font-style: bold;
    font-size: 26px;
}

@media (max-width: 800px) {
    .large {
        font-size: 24vw;
        line-height: 21vw;
    }
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
