#shop {
    width: 100%;
    margin: 0px;
}
.imgimg {
    padding-left: 20px;
    padding-right: 20px;
}
#smart-button-container {
    text-align: center;
    position: center;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 50px;
}
.purchase {
    width: 50%;
    /* padding-top: center; */
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin: 0px;
    float: left;
    position: relative;
    overflow: hidden;  

}
.purchase img {
    width: 100%;
    height: 100%;
    /* padding-left: 10px;
    padding-right: 10px; */
    margin: 0px;
    padding-top: 70px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.purchase img:hover {
    -webkit-transition: filter 1.5s ease-in;
    -moz-transition: filter 1.5s ease-in;
    -o-transition: filter 1.5s ease-in;
    transition: filter 1.5s ease-in;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
.bg-text {
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
  }
.bor {
    /* border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-style: outset;
    border-color: white;
    border-width: 3px;
    box-sizing: border-box; */
}

.shopInfo {
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.shopInformation {
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 15px;
}
.imgdivider {
    width: 50%;
    /* padding-top: center; */
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;  
}

@media (max-width: 800px) {
    #shop {
        padding-right: 0px;
        padding-left: 0px;
    }
    #smart-button-container {
        padding-top: 0;
    }
    .purchase {
        width: 100%;
        /* padding-left: 25px;
        padding-right: 25px; */
        
    }
    .shopInfo {
        line-height: 30px;
        padding-top: 5px;
    }
    .purchase img {
        padding-top: 10px;
    }
}