<div id="music" class="musicbanner fade-in3">
    <!-- <h2>Original Tracks</h2> -->
    <div class="music">
        <div class="column3"> 
            <div class="musicmusic">
                <h1 class="epTitle">Band Sanitizer EP track list:</h1>
                <div class="ep">
                    <a target="_blank" rel="noopener" class="epTracks" href="https://youtu.be/BaZaR2FhHxs">"Here Comes Your Man" by The Pixies</a>
                    <br>
                    <a target="_blank" rel="noopener" class="epTracks" href="https://youtu.be/9Zhf87tGgZM">"Bags" by Clairo</a>
                    <br>
                    <a target="_blank" rel="noopener" class="epTracks" href="https://youtu.be/hu_zz0DDYJo">"Some Day" by The Strokes</a>
                    <br>
                    <a target="_blank" rel="noopener" class="epTracks" href="https://youtu.be/hQVUFp3ZMz8">"Drive" by The Cars</a>
                    <br>
                    <a target="_blank" rel="noopener" class="epTracks" href="https://youtu.be/bfUsWS2xayM">"Here Comes the Sun" by The Beatles</a>
                    <br>
                </div>
                <h3 class="ep">Plus one bonus track!</h3>
            </div>
        </div>
        <div class="column3 epp">
            <img src="photos/bs.jpeg">   
            <div  class="epcover">
            </div>      
        </div>
        <div>
            <!-- <h2>Available To Stream On These Platforms</h2>
            <h3>Support the Lowell High School PTSA by purchasing the EP on BandCamp</h3> -->
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
