<div id="music" class="musicbanner fade-in3">
    <!-- <h2>Original Tracks</h2> -->
    <div class="music">
        <div class="column3"> 
            <div class="musicmusic">
                <h1 class="epTitle">BAND SANITIZER EP TRACK LIST:</h1>
                <div class="ep">
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/track/here-comes-your-man">"Here Comes Your Man" by The Pixies</a> <!--https://youtu.be/BaZaR2FhHxs-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/track/bags-2">"Bags" by Clairo</a> <!--https://youtu.be/9Zhf87tGgZM-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/track/some-day">"Some Day" by The Strokes</a> <!--https://youtu.be/hu_zz0DDYJo-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/track/drive">"Drive" by The Cars</a> <!--https://youtu.be/hQVUFp3ZMz8-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/track/here-comes-the-sun-2">"Here Comes the Sun" by The Beatles</a> <!--https://youtu.be/bfUsWS2xayM-->
                    <br>
                </div>
                <h3 class="ep">PLUS ONE BONUS TRACK AVAILABLE ONLY ON BANDCAMP!</h3>
            </div>
        </div>
        <div class="column3 epp">
            <img src="photos/bs.jpeg">   
            <div  class="epcover">
            </div>      
        </div>
        <div class="streamingPlatforms">
            <h2>AVAILABLE TO STREAM ON</h2>
            <a target="_blank" rel="noopener" class="stream-icon" href="https://sanitizer.bandcamp.com/releases">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1792 1792">
                    <path d="M1070 1178l306-564H722l-306 564h654zm722-282q0 182-71 348t-191 286t-286 191t-348 71t-348-71t-286-191t-191-286T0 896t71-348t191-286T548 71T896 0t348 71t286 191t191 286t71 348z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="https://www.youtube.com/channel/UCDsttSRk9CmOyq3DmkbEdnQ/featured" aria-label="youtube" style="color:#000">
                <svg class="youtube" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                </svg>
            </a>
            <!-- <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1536 1536">
                    <path d="M1127 1082q0-32-30-51q-193-115-447-115q-133 0-287 34q-42 9-42 52q0 20 13.5 34.5T370 1051q5 0 37-8q132-27 243-27q226 0 397 103q19 11 33 11q19 0 33-13.5t14-34.5zm96-215q0-40-35-61q-237-141-548-141q-153 0-303 42q-48 13-48 64q0 25 17.5 42.5T349 831q7 0 37-8q122-33 251-33q279 0 488 124q24 13 38 13q25 0 42.5-17.5T1223 867zm108-248q0-47-40-70q-126-73-293-110.5T655 401q-204 0-364 47q-23 7-38.5 25.5T237 522q0 31 20.5 52t51.5 21q11 0 40-8q133-37 307-37q159 0 309.5 34t253.5 95q21 12 40 12q29 0 50.5-20.5T1331 619zm205 149q0 209-103 385.5T1153.5 1433T768 1536t-385.5-103T103 1153.5T0 768t103-385.5T382.5 103T768 0t385.5 103T1433 382.5T1536 768z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                    <path d="M31.995 8.167c0-.984-.083-1.964-.318-2.922c-.422-1.745-1.417-3.078-2.906-4.057c-.766-.5-1.609-.807-2.505-.969a13.353 13.353 0 0 0-2.083-.198c-.052-.005-.109-.016-.167-.021H7.985c-.203.016-.406.026-.609.036c-.995.057-1.984.161-2.922.536c-1.781.703-3.068 1.932-3.818 3.703c-.26.599-.391 1.234-.484 1.88c-.078.521-.12 1.047-.135 1.573c0 .042-.01.083-.01.125V24.15l.031.563c.068 1.089.208 2.167.667 3.167c.865 1.891 2.318 3.135 4.313 3.734c.557.172 1.141.25 1.724.302c.74.073 1.479.083 2.219.083h14.708c.698 0 1.396-.047 2.094-.135c1.099-.141 2.13-.464 3.063-1.078a6.74 6.74 0 0 0 2.505-2.943c.25-.563.391-1.161.495-1.766c.151-.901.182-1.813.182-2.724c-.005-5.063 0-10.125-.005-15.188zm-8.563 5.317v7.615c0 .557-.078 1.104-.328 1.609c-.385.786-1.01 1.281-1.849 1.521a6.038 6.038 0 0 1-1.427.229a2.48 2.48 0 0 1-2.589-2.047a2.502 2.502 0 0 1 1.385-2.698c.427-.208.891-.333 1.354-.427c.505-.109 1.01-.208 1.51-.323c.37-.083.609-.307.682-.688c.021-.083.026-.172.026-.255v-7.26a1 1 0 0 0-.036-.245c-.052-.203-.198-.323-.406-.313c-.214.01-.422.047-.63.089c-1.016.198-2.031.401-3.042.609l-4.932.995c-.021.005-.047.016-.068.016c-.37.104-.5.271-.516.656c-.005.057 0 .115 0 .172c-.005 3.469 0 6.938-.005 10.406c0 .563-.063 1.115-.286 1.635c-.37.854-1.026 1.391-1.911 1.646a5.825 5.825 0 0 1-1.438.229c-1.276.047-2.339-.802-2.557-2.057c-.188-1.083.307-2.25 1.536-2.771c.479-.198.974-.307 1.479-.411l1.146-.234c.51-.109.776-.432.802-.953v-.198V8.187c0-.167.021-.333.057-.495c.094-.38.365-.599.729-.688c.339-.089.688-.151 1.031-.224c.979-.198 1.953-.396 2.932-.589l3.026-.615c.896-.177 1.786-.359 2.682-.536c.292-.057.589-.12.885-.141c.411-.036.698.224.74.641c.01.099.016.198.016.297v7.641z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
                    <path d="M5.8 278a2.11 2.11 0 0 0-2 2L0 308.64l3.74 28.16a2.12 2.12 0 0 0 2.05 2a2.14 2.14 0 0 0 2-2l4.44-28.17L7.83 280a2.14 2.14 0 0 0-2-2z" fill="#2B6C64"/>
                    <path d="M26.85 262.32a2.13 2.13 0 0 0-4.26 0l-5 46.32l5 45.3a2.13 2.13 0 0 0 4.26 0l5.73-45.31l-5.73-46.32z" fill="#2B6C64"/>
                    <path d="M106.17 219.59a4 4 0 0 0-3.87 3.87l-4 85.22l4 55.08a3.88 3.88 0 0 0 7.75 0l4.53-55.08l-4.53-85.22a4 4 0 0 0-3.88-3.87z" fill="#2B6C64"/>
                    <path d="M65.12 249.21a3.09 3.09 0 0 0-3 3l-4.52 56.45l4.51 54.63a3 3 0 0 0 6 0l5.13-54.63l-5.13-56.48a3.1 3.1 0 0 0-2.99-2.97z" fill="#2B6C64"/>
                    <path d="M147.88 367.6a4.83 4.83 0 0 0 4.75-4.74l3.93-54.15l-3.93-113.46a4.75 4.75 0 0 0-9.5 0l-3.49 113.45l3.49 54.17a4.81 4.81 0 0 0 4.75 4.73z" fill="#2B6C64"/>
                    <path d="M233.28 367.85a6.6 6.6 0 0 0 6.5-6.52l2.74-52.6l-2.74-131a6.5 6.5 0 1 0-13 0l-2.45 131c0 .08 2.45 52.67 2.45 52.67a6.59 6.59 0 0 0 6.5 6.45z" fill="#2B6C64"/>
                    <path d="M190.26 367.65a5.67 5.67 0 0 0 5.62-5.64l3.34-53.33l-3.34-114.28a5.63 5.63 0 1 0-11.25 0l-3 114.29l3 53.32a5.66 5.66 0 0 0 5.63 5.6z" fill="#2B6C64"/>
                    <path d="M85.56 367.15a3.53 3.53 0 0 0 3.44-3.41l4.83-55.09l-4.83-52.4a3.44 3.44 0 0 0-6.88 0l-4.26 52.38l4.26 55.08a3.5 3.5 0 0 0 3.44 3.44z" fill="#2B6C64"/>
                    <path d="M44.84 364.13a2.67 2.67 0 0 0 2.57-2.52l5.43-53l-5.42-55a2.57 2.57 0 0 0-5.14 0l-4.78 55l4.78 53a2.62 2.62 0 0 0 2.56 2.53z" fill="#2B6C64"/>
                    <path d="M211.69 192.53a6.1 6.1 0 0 0-6.07 6.09l-2.71 110.11l2.71 53a6.07 6.07 0 0 0 12.13 0l3-53l-3-110.13a6.1 6.1 0 0 0-6.06-6.07z" fill="#2B6C64"/>
                    <path d="M127 367.71a4.41 4.41 0 0 0 4.31-4.3l4.23-54.71l-4.28-104.7a4.32 4.32 0 0 0-8.63 0l-3.74 104.7l3.75 54.73a4.38 4.38 0 0 0 4.36 4.28z" fill="#2B6C64"/>
                    <path d="M174.17 362.54l3.63-53.8l-3.63-117.28a5.19 5.19 0 1 0-10.37 0l-3.23 117.28l3.23 53.83a5.18 5.18 0 0 0 10.36 0z" fill="#2B6C64"/>
                    <path d="M449 241.1a62.42 62.42 0 0 0-24.33 4.9c-5-57.18-52.61-102-110.66-102a111.92 111.92 0 0 0-40.28 7.58c-4.75 1.85-6 3.76-6.06 7.46V360.4a7.66 7.66 0 0 0 6.8 7.5l174.56.11c34.78 0 63-28.41 63-63.45s-28.2-63.46-63-63.46z" fill="#2B6C64"/>
                    <path d="M254.79 158.87a7 7 0 0 0-6.94 7L245 308.75l2.85 51.87a6.94 6.94 0 1 0 13.87-.06v.06l3.09-51.87l-3.09-142.93a7 7 0 0 0-6.93-6.95z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12s12-5.376 12-12S18.624 0 12 0zm0 19.104c-3.924 0-7.104-3.18-7.104-7.104S8.076 4.896 12 4.896s7.104 3.18 7.104 7.104s-3.18 7.104-7.104 7.104zm0-13.332c-3.432 0-6.228 2.796-6.228 6.228S8.568 18.228 12 18.228s6.228-2.796 6.228-6.228S15.432 5.772 12 5.772zM9.684 15.54V8.46L15.816 12l-6.132 3.54z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path d="M22.018 13.298l-3.919 2.218l-3.515-3.493l3.543-3.521l3.891 2.202a1.49 1.49 0 0 1 0 2.594zM1.337.924a1.486 1.486 0 0 0-.112.568v21.017c0 .217.045.419.124.6l11.155-11.087L1.337.924zm12.207 10.065l3.258-3.238L3.45.195a1.466 1.466 0 0 0-.946-.179l11.04 10.973zm0 2.067l-11 10.933c.298.036.612-.016.906-.183l13.324-7.54l-3.23-3.21z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path d="M18.81 4.16v3.03H24V4.16h-5.19zM6.27 8.38v3.027h5.189V8.38h-5.19zm12.54 0v3.027H24V8.38h-5.19zM6.27 12.594v3.027h5.189v-3.027h-5.19zm6.271 0v3.027h5.19v-3.027h-5.19zm6.27 0v3.027H24v-3.027h-5.19zM0 16.81v3.029h5.19v-3.03H0zm6.27 0v3.029h5.189v-3.03h-5.19zm6.271 0v3.029h5.19v-3.03h-5.19zm6.27 0v3.029H24v-3.03h-5.19z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                    <path d="M25.401 0H6.598C2.999 0-.001 2.964-.001 6.599v18.803c0 3.599 2.959 6.599 6.599 6.599h18.803c3.635 0 6.599-2.964 6.599-6.599V6.599C32 3 29.036 0 25.401 0zM16.5 21.083h-1.64v3.72a.867.867 0 0 1-.86.859H8.86V6.345h8.739c4.245 0 7.527 2.197 7.527 7.197c0 4.74-3.641 7.537-8.604 7.537h-.021z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path d="M11.977 23.999c-2.483 0-4.898-.777-6.954-2.262a11.928 11.928 0 0 1-4.814-7.806A11.954 11.954 0 0 1 2.3 4.994A11.85 11.85 0 0 1 10.08.159a11.831 11.831 0 0 1 8.896 2.104a11.933 11.933 0 0 1 4.815 7.807a11.958 11.958 0 0 1-2.091 8.937a11.855 11.855 0 0 1-7.78 4.835a12.17 12.17 0 0 1-1.943.157zm-6.474-2.926a11.022 11.022 0 0 0 8.284 1.96a11.044 11.044 0 0 0 7.246-4.504c3.583-5.003 2.445-12.003-2.538-15.603a11.022 11.022 0 0 0-8.284-1.96A11.046 11.046 0 0 0 2.966 5.47C-.618 10.474.521 17.473 5.503 21.073zm10.606-3.552a2.08 2.08 0 0 0 1.458-1.468l.062-.216l.008-5.786c.006-4.334 0-5.814-.024-5.895a.535.535 0 0 0-.118-.214a.514.514 0 0 0-.276-.073c-.073 0-.325.035-.56.078c-1.041.19-7.176 1.411-7.281 1.45a.786.786 0 0 0-.399.354l-.065.128s-.031 9.07-.078 9.172a.7.7 0 0 1-.376.35a9.425 9.425 0 0 1-.609.137c-1.231.245-1.688.421-2.075.801c-.22.216-.382.51-.453.82c-.067.294-.045.736.051 1.005c.1.281.262.521.473.71c.192.148.419.258.674.324c.563.144 1.618-.016 2.158-.328a2.36 2.36 0 0 0 .667-.629c.06-.089.15-.268.2-.399c.176-.456.181-8.581.204-8.683a.44.44 0 0 1 .32-.344c.147-.04 6.055-1.207 6.222-1.23c.146-.02.284.027.36.12a.29.29 0 0 1 .109.096c.048.07.051.213.058 2.785c.008 2.96.012 2.892-.149 3.079c-.117.136-.263.189-.864.31c-.914.188-1.226.276-1.576.447c-.437.213-.679.446-.867.835a1.58 1.58 0 0 0-.182.754c.001.49.169.871.55 1.245c.035.034.069.066.104.097c.192.148.387.238.633.294c.37.082 1.124.025 1.641-.126z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                    <path d="M13.829 8.241c-.484.038-1.043.075-1.601.15c-.856.111-1.712.261-2.42.596c-1.376.56-2.308 1.752-2.308 3.506c0 2.2 1.415 3.317 3.202 3.317c.596 0 1.08-.073 1.526-.185c.708-.224 1.303-.634 2.01-1.38c.41.56.52.821 1.229 1.417c.186.075.372.075.52-.037a66.533 66.533 0 0 0 1.64-1.417c.185-.15.147-.373.036-.56c-.41-.522-.819-.97-.819-1.975V8.316c0-1.418.11-2.722-.93-3.69c-.857-.786-2.198-1.084-3.239-1.084h-.447c-1.899.113-3.909.933-4.356 3.282c-.074.298.15.41.299.449l2.084.26c.223-.038.334-.224.371-.41c.187-.82.857-1.23 1.602-1.305h.15c.445 0 .929.187 1.19.558c.297.448.26 1.045.26 1.567v.298zm0 2.164c0 .858.036 1.529-.41 2.273c-.26.522-.707.858-1.191.97c-.074 0-.185.038-.298.038c-.818 0-1.303-.633-1.303-1.566c0-1.193.708-1.753 1.6-2.014c.485-.112 1.044-.15 1.602-.15v.45zm6.857 8.86c.91-.77 1.294-2.167 1.314-2.897v-.122a.66.66 0 0 0-.08-.344c-.182-.222-1.518-.426-2.67-.081a3.19 3.19 0 0 0-.87.425c-.202.143-.162.323.04.304c.223-.041.506-.06.83-.102c.708-.06 1.537-.08 1.74.183c.281.343-.324 1.843-.588 2.492c-.08.203.101.285.284.142z" fill="#2B6C64"/>
                    <path d="M2.1 16.368c2.609 2.37 6.047 3.789 9.89 3.789c2.386 0 5.136-.67 7.26-1.945c.284-.163.566-.346.828-.548c.364-.262.041-.669-.323-.507c-.161.06-.344.143-.505.203a19.487 19.487 0 0 1-7.038 1.338c-3.6 0-7.078-.993-9.89-2.634c-.263-.141-.445.122-.222.304z" fill="#2B6C64"/>
                </svg>
            </a>
            <a target="_blank" rel="noopener" class="stream-icon" href="">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                    <path d="M16.016 5.323l-5.339 5.339l-5.339-5.339l-5.339 5.339l5.339 5.339l5.339-5.339l5.339 5.339l-5.339 5.339l5.339 5.339l5.339-5.339l-5.339-5.339l5.339-5.339zm5.375 5.338l5.302-5.307L32 10.661l-5.307 5.307z" fill="#2B6C64"/>
                </svg>
            </a> -->
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
