<div id="music" class="musicbanner fade-in">
    <!-- <h2>Original Tracks</h2> -->
    <div class="music">
        <div class="column3"> 
            <h1>Band Sanitizer EP track list:</h1>
            <h3>"Here Comes Your Man" by The Pixies
                <br>
                "Bags" by Clairo
                <br>
                "Some Day" by The Strokes
                <br>
                "Drive" by The Cars
                <br>
                "Here Comes the Sun" by The Beatles
                <br>
            </h3>
            <h3>Plus one bonus track!</h3>
        </div>
        <div class="column3">
            <img src="photos/bs.jpeg">
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
