<div id="music" class="musicbanner fade-in3">
    <!-- <h2>Original Tracks</h2> -->
    <div class="music">
        <div class="column3"> 
            <div class="musicmusic">
                <h1 class="epTitle">Band Sanitizer EP track list:</h1>
                <div class="ep">
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/releases">"Here Comes Your Man" by The Pixies</a> <!--https://youtu.be/BaZaR2FhHxs-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/releases">"Bags" by Clairo</a> <!--https://youtu.be/9Zhf87tGgZM-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/releases">"Some Day" by The Strokes</a> <!--https://youtu.be/hu_zz0DDYJo-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/releases">"Drive" by The Cars</a> <!--https://youtu.be/hQVUFp3ZMz8-->
                    <br>
                    <a target="_blank" class="epTracks" href="https://sanitizer.bandcamp.com/releases">"Here Comes the Sun" by The Beatles</a> <!--https://youtu.be/bfUsWS2xayM-->
                    <br>
                </div>
                <h3 class="ep">Plus one bonus track!</h3>
            </div>
        </div>
        <div class="column3 epp">
            <img src="photos/bs.jpeg">   
            <div  class="epcover">
            </div>      
        </div>
        <div class="streamingPlatforms">
            <h2>Available To Stream On</h2>
            <a class="glow" href="https://sanitizer.bandcamp.com/releases">BandCamp</a>
            <a target="_blank" rel="noopener" class="footer-icon" href="https://www.youtube.com/channel/UCDsttSRk9CmOyq3DmkbEdnQ/featured" aria-label="youtube" style="color:#000">
                <svg class="youtube" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                </svg>
            </a>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
