<div class="shop">
    <p>
        Band Sanitizer T Shirts cost $22.
        <br>
        100% of net proceeds from T shirt sales go to Lowell PTSA
        <br>
        To purchase a T Shirt for delivery within San Francisco city limits, please email with size, quantity and mailing address.
        <br>
        band.sanitizer.official@gmail.com
        <br>
        If you are located outside of San Francisco T shirts will be shipped via US Mail, please use the PayPal option below. 
        <br>
        Each T shirt order comes with a Band Sanitizer quarantine gift!
    </p>
    
</div>