<div id="shop" class="aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1500">
  <div class="purchase">
    <div class="imgimg">
      <img class="bor" src="photos/merch_band_sanitizer_t_shirt.png" alt="Band Sanitizer T Shirt">
      <h2 class="bg-text">23 USD</h2>
    </div>
  </div>
  <div class="purchase">
    <p class="shopInfo">
        Band Sanitizer T Shirts cost $23.
        <br>
        100% of net proceeds from T shirt sales go to Lowell PTSA
        <br>
        To purchase a T Shirt for delivery within San Francisco city limits, please <a class="glow" href="mailto:band.sanitizer.official@gmail.com?subject=Band%20Sanitizer%20T%20Shirt%20purchase">email</a> with size, quantity and mailing address.
        <br>
        If you are located outside of San Francisco T shirts will be shipped via US Mail, please use the PayPal option below. 
        <br>
        Each T shirt order comes with a Band Sanitizer quarantine gift!
    </p>
    <div class="purchaseComp"> 
        <div id="smart-button-container">
              <div>
                <div style="position: center;">
                  <select id="item-options"><option value="Small T shirt" price="23">Small T Shirt - 23 USD</option><option value="Medium T Shirt" price="23">Medium T Shirt - 23 USD</option><option value="Large T Shirt" price="23">Large T Shirt - 23 USD</option><option value="Xtra Large T Shirt" price="23">Xtra Large T Shirt- 23 USD</option></select>
                  <select style="visibility: visible;" id="quantitySelect"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select>
                </div>
                <div id="paypal-button-container"><div id="zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk" class="paypal-buttons paypal-buttons-context-iframe paypal-buttons-label-paypal paypal-buttons-layout-vertical" data-paypal-smart-button-version="5.0.218" style="transition: all 0.2s ease-in-out;">
                  <style>
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk {
                            position: relative;
                            display: inline-block;
                            width: 100%;
                            min-height: 35px;
                            min-width: 200px;
                            max-width: 750px;
                            font-size: 0;
                        }
        
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk > iframe {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
    
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk > iframe.component-frame {
                            z-index: 100;
                        }
        
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk > iframe.prerender-frame {
                            transition: opacity .2s linear;
                            z-index: 200;
                        }
    
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk > iframe.visible {
                            opacity: 1;
                        }
    
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk > iframe.invisible {
                            opacity: 0;
                            pointer-events: none;
                        }
    
                        #zoid-paypal-buttons-ca7d6416b4_mjm6mtq6ntk > .smart-menu {
                            position: absolute;
                            z-index: 300;
                            top: 0;
                            left: 0;
                            width: 100%;
                        }
                  </style>
                  <iframe allowtransparency="true" name="__zoid__paypal_buttons__eyJ1aWQiOiJ6b2lkLXBheXBhbC1idXR0b25zLWNhN2Q2NDE2YjRfbWptNm10cTZudGsiLCJjb250ZXh0IjoiaWZyYW1lIiwidGFnIjoicGF5cGFsLWJ1dHRvbnMiLCJ2ZXJzaW9uIjoiOV8wXzYzIiwiY2hpbGREb21haW4iOiJodHRwczovL3d3dy5wYXlwYWwuY29tIiwicGFyZW50RG9tYWluIjoiaHR0cHM6Ly93d3cuYmFuZC1zYW5pdGl6ZXIudXMiLCJwYXJlbnQiOnsidHlwZSI6InBhcmVudCIsImRpc3RhbmNlIjowfSwicHJvcHMiOnsidHlwZSI6InJhdyIsInZhbHVlIjoie1wic3R5bGVcIjp7XCJsYWJlbFwiOlwicGF5cGFsXCIsXCJsYXlvdXRcIjpcInZlcnRpY2FsXCIsXCJjb2xvclwiOlwiZ29sZFwiLFwic2hhcGVcIjpcInBpbGxcIixcInRhZ2xpbmVcIjpmYWxzZX0sXCJjcmVhdGVPcmRlclwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiZWNjMGFkNWRhZV9tam02bXRxNm50a1wiLFwibmFtZVwiOlwiY3JlYXRlT3JkZXJcIn19LFwib25BcHByb3ZlXCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCIyZjM2NDNkYTM1X21qbTZtdHE2bnRrXCIsXCJuYW1lXCI6XCJvbkFwcHJvdmVcIn19LFwic3RvcmFnZVN0YXRlXCI6e1wiZ2V0XCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCI3OGE5Zjc1NjdiX21qbTZtdHE2bnRrXCIsXCJuYW1lXCI6XCJnZXRcIn19LFwic2V0XCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCI3YzdhYTNkZmI1X21qbTZtdHE2bnRrXCIsXCJuYW1lXCI6XCJzZXRcIn19fSxcInNlc3Npb25TdGF0ZVwiOntcImdldFwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiMmE2OGQxZjljZF9tam02bXRxNm50a1wiLFwibmFtZVwiOlwiZ2V0XCJ9fSxcInNldFwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiYmRhMzlkYTBhYl9tam02bXRxNm50a1wiLFwibmFtZVwiOlwic2V0XCJ9fX0sXCJjb21wb25lbnRzXCI6W1wiYnV0dG9uc1wiXSxcImxvY2FsZVwiOntcImxhbmdcIjpcImVuXCIsXCJjb3VudHJ5XCI6XCJVU1wifSxcImdldFByZXJlbmRlckRldGFpbHNcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjMyZDNjODU3ZjlfbWptNm10cTZudGtcIixcIm5hbWVcIjpcImdldFByZXJlbmRlckRldGFpbHNcIn19LFwiZ2V0UG9wdXBCcmlkZ2VcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcImU3YjdhOTk3YmFfbWptNm10cTZudGtcIixcIm5hbWVcIjpcImdldFBvcHVwQnJpZGdlXCJ9fSxcIm9uSW5pdFwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiYzUxZDBiMjMzNV9tam02bXRxNm50a1wiLFwibmFtZVwiOlwib25Jbml0XCJ9fSxcImdldFF1ZXJpZWRFbGlnaWJsZUZ1bmRpbmdcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjhlNGY1M2UwNDRfbWptNm10cTZudGtcIixcIm5hbWVcIjpcImdldFF1ZXJpZWRFbGlnaWJsZUZ1bmRpbmdcIn19LFwiY2xpZW50SURcIjpcIkFjXzkzV0RMR1htYTFmbllmVG0tWTJSWWQ4emUxUVNWT09Vb2xOY2xoV2luUEJDWF90SVpqSXplWFB3dlNTTDQ0UkczVUxPNEYxV1hQWUNGXCIsXCJlbmFibGVUaHJlZURvbWFpblNlY3VyZVwiOmZhbHNlLFwiY29ycmVsYXRpb25JRFwiOlwiMjNkM2RjYzg5NGNmMFwiLFwic2RrQ29ycmVsYXRpb25JRFwiOlwiMjNkM2RjYzg5NGNmMFwiLFwic3RvcmFnZUlEXCI6XCI2NGI5YjBiNmMxX210ZzZudGs2bWpxXCIsXCJzZXNzaW9uSURcIjpcIjdiYWZhMTY4MWFfbWptNm10cTZudGtcIixcImJ1dHRvblNlc3Npb25JRFwiOlwiOTc4YWZmM2UzNl9tam02bXRxNm50a1wiLFwiZW52XCI6XCJwcm9kdWN0aW9uXCIsXCJmdW5kaW5nRWxpZ2liaWxpdHlcIjp7XCJwYXlwYWxcIjp7XCJlbGlnaWJsZVwiOnRydWUsXCJ2YXVsdGFibGVcIjpmYWxzZX0sXCJwYXlsYXRlclwiOntcImVsaWdpYmxlXCI6dHJ1ZSxcInByb2R1Y3RzXCI6e1wiZmxleFwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwicGF5SW40XCI6e1wiZWxpZ2libGVcIjp0cnVlfX19LFwiY2FyZFwiOntcImVsaWdpYmxlXCI6dHJ1ZSxcImJyYW5kZWRcIjp0cnVlLFwiaW5zdGFsbG1lbnRzXCI6ZmFsc2UsXCJ2ZW5kb3JzXCI6e1widmlzYVwiOntcImVsaWdpYmxlXCI6dHJ1ZSxcInZhdWx0YWJsZVwiOnRydWV9LFwibWFzdGVyY2FyZFwiOntcImVsaWdpYmxlXCI6dHJ1ZSxcInZhdWx0YWJsZVwiOnRydWV9LFwiYW1leFwiOntcImVsaWdpYmxlXCI6dHJ1ZSxcInZhdWx0YWJsZVwiOnRydWV9LFwiZGlzY292ZXJcIjp7XCJlbGlnaWJsZVwiOnRydWUsXCJ2YXVsdGFibGVcIjp0cnVlfSxcImhpcGVyXCI6e1wiZWxpZ2libGVcIjpmYWxzZSxcInZhdWx0YWJsZVwiOmZhbHNlfSxcImVsb1wiOntcImVsaWdpYmxlXCI6ZmFsc2UsXCJ2YXVsdGFibGVcIjp0cnVlfSxcImpjYlwiOntcImVsaWdpYmxlXCI6ZmFsc2UsXCJ2YXVsdGFibGVcIjp0cnVlfX19LFwidmVubW9cIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcIml0YXVcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImNyZWRpdFwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwic2VwYVwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwiaWRlYWxcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImJhbmNvbnRhY3RcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImdpcm9wYXlcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImVwc1wiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwic29mb3J0XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJteWJhbmtcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcInAyNFwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwiemltcGxlclwiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwid2VjaGF0cGF5XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJwYXl1XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJibGlrXCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJ0cnVzdGx5XCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJveHhvXCI6e1wiZWxpZ2libGVcIjpmYWxzZX0sXCJtYXhpbWFcIjp7XCJlbGlnaWJsZVwiOmZhbHNlfSxcImJvbGV0b1wiOntcImVsaWdpYmxlXCI6ZmFsc2V9LFwibWVyY2Fkb3BhZ29cIjp7XCJlbGlnaWJsZVwiOmZhbHNlfX0sXCJwbGF0Zm9ybVwiOlwiZGVza3RvcFwiLFwicmVtZW1iZXJlZFwiOltdLFwiZXhwZXJpbWVudFwiOntcImVuYWJsZVZlbm1vXCI6ZmFsc2V9LFwiZmxvd1wiOlwicHVyY2hhc2VcIixcInJlbWVtYmVyXCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCJkMzhlYmY2ZTViX21qbTZtdHE2bnRrXCIsXCJuYW1lXCI6XCJyZW1lbWJlclwifX0sXCJjdXJyZW5jeVwiOlwiVVNEXCIsXCJpbnRlbnRcIjpcImNhcHR1cmVcIixcImNvbW1pdFwiOnRydWUsXCJ2YXVsdFwiOmZhbHNlLFwiZW5hYmxlRnVuZGluZ1wiOltdLFwiZGlzYWJsZUZ1bmRpbmdcIjpbXSxcImRpc2FibGVDYXJkXCI6W10sXCJtZXJjaGFudElEXCI6W10sXCJjc3BcIjp7fSxcImdldFBhZ2VVcmxcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjNmOGRlNGY4YzVfbWptNm10cTZudGtcIixcIm5hbWVcIjpcImdldFBhZ2VVcmxcIn19LFwiZGVidWdcIjpmYWxzZSxcInRlc3RcIjp7XCJhY3Rpb25cIjpcImNoZWNrb3V0XCJ9LFwic3VwcG9ydHNQb3B1cHNcIjp0cnVlLFwic3VwcG9ydGVkTmF0aXZlQnJvd3NlclwiOmZhbHNlfSJ9LCJleHBvcnRzIjoie1wiaW5pdFwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiNWEwMjM5MTBjM19tam02bXRxNm50a1wiLFwibmFtZVwiOlwiZ2VcIn19LFwiY2xvc2VcIjp7XCJfX3R5cGVfX1wiOlwiY3Jvc3NfZG9tYWluX2Z1bmN0aW9uXCIsXCJfX3ZhbF9fXCI6e1wiaWRcIjpcIjA4ODAwM2JjY2RfbWptNm10cTZudGtcIixcIm5hbWVcIjpcImNsb3NlOjptZW1vaXplZFwifX0sXCJjaGVja0Nsb3NlXCI6e1wiX190eXBlX19cIjpcImNyb3NzX2RvbWFpbl9mdW5jdGlvblwiLFwiX192YWxfX1wiOntcImlkXCI6XCIwMjFhNzMyYWZkX21qbTZtdHE2bnRrXCIsXCJuYW1lXCI6XCJjaGVja0Nsb3NlXCJ9fSxcInJlc2l6ZVwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiNGRkMWQ5Yjc5OV9tam02bXRxNm50a1wiLFwibmFtZVwiOlwieWVcIn19LFwib25FcnJvclwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiMjk0NTZmM2EzOV9tam02bXRxNm50a1wiLFwibmFtZVwiOlwiVGVcIn19LFwic2hvd1wiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiNDg2MzVkMWEyN19tam02bXRxNm50a1wiLFwibmFtZVwiOlwidGVcIn19LFwiaGlkZVwiOntcIl9fdHlwZV9fXCI6XCJjcm9zc19kb21haW5fZnVuY3Rpb25cIixcIl9fdmFsX19cIjp7XCJpZFwiOlwiNmY2MDcwZThkZF9tam02bXRxNm50a1wiLFwibmFtZVwiOlwib2VcIn19fSJ9__" title="PayPal" allowpaymentrequest="allowpaymentrequest" scrolling="no" id="jsx-iframe-607bb8557e" class="component-frame visible" style="background-color: transparent; border: none;"></iframe><div id="smart-menu" class="smart-menu"></div><div id="installments-modal" class="installments-modal"></div><iframe name="__detect_close_a488825295_mjm6mtq6ntk__" style="display: none;"></iframe></div></div>
        </div>
    </div>
        <script src="https://www.paypal.com/sdk/js?client-id=Ac_93WDLGXma1fnYfTm-Y2RYd8ze1QSVOOUolNclhWinPBCX_tIZjIzeXPwvSSL44RG3ULO4F1WXPYCF&amp;currency=USD" data-sdk-integration-source="button-factory" data-uid-auto="f3490d90a8_mjm6mtq6ntk"></script>
            <script>
              function initPayPalButton() {
                var shipping = 0;
                var itemOptions = document.querySelector("#smart-button-container #item-options");
              var quantity = parseInt(20);
              var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
              if (!isNaN(quantity)) {
                quantitySelect.style.visibility = "visible";
              }
              var orderDescription = 'Band Sanitizer T Shirt';
              if(orderDescription === '') {
                orderDescription = 'Item';
              }
              paypal.Buttons({
                style: {
                  shape: 'pill',
                  color: 'gold',
                  layout: 'vertical',
                  label: 'paypal',
          
              },
              createOrder: function(data, actions) {
                var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
                var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
                var tax = (0 === 0) ? 0 : (selectedItemPrice * (parseFloat(0)/100));
                if(quantitySelect.options.length > 0) {
                  quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
                } else {
                  quantity = 1;
                }
        
                tax *= quantity;
                tax = Math.round(tax * 100) / 100;
                var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
                priceTotal = Math.round(priceTotal * 100) / 100;
                var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;
        
                return actions.order.create({
                  purchase_units: [{
                    description: orderDescription,
                    amount: {
                      currency_code: 'USD',
                      value: priceTotal,
                      breakdown: {
                        item_total: {
                          currency_code: 'USD',
                          value: itemTotalValue,
                        },
                        shipping: {
                          currency_code: 'USD',
                          value: shipping,
                        },
                        tax_total: {
                          currency_code: 'USD',
                          value: tax,
                        }
                      }
                    },
                    items: [{
                      name: selectedItemDescription,
                      unit_amount: {
                        currency_code: 'USD',
                        value: selectedItemPrice,
                      },
                      quantity: quantity
                    }]
                  }]
                });
              },
              onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                  alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
              },
              onError: function(err) {
                console.log(err);
              },
            }).render('#paypal-button-container');
          }
          initPayPalButton();
        </script>
    </div>
  </div>
    <div style="clear: both;"></div>
</div>