<div id="band"> 
    <div class="about">
        <div class="post-wrap column aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/lauren.jpeg" width="100%" height="100%" >
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Lauren</h2>
                        <h3>OUT</h3>
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="250">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/auden.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Auden</h2>
                        <h3>BY</h3>
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="500">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/elise.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Elise</h2>
                        <h3>THE</h3>
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="750">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/noah.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Noah</h2>
                        <h3>BOX</h3>
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="1000"> 
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/caye.jpeg" width="100%" height="100%">
                    </div>
                    <!-- <div class="post-info">
                    
                    </div> -->
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Caye</h2>
                        <h3>CAR</h3>
                    </div>
                 </div>
            </div>
         </div>
        <div class="post-wrap column aos-item" data-aos="fade-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000" data-aos-delay="1250">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/devon.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Devon</h2>
                        <h3>WAITING</h3>
                    </div>
                 </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="about1">
        <h2 class="column3 fade-in" style="text-align: left;">About</h2>
        <p class="column3 fade-in2" style="text-align: left;">We are a band born, rocked and rolled in San Francisco by fog banks, burrito bombs and an infinite variety of noodles. We live to love and love to live!</p>
    </div> 
    <div style="clear: both;"></div>
</div>