<div id="band"> 
    <div class="about1">
        <h2 class="column3" style="text-align: left;">About</h2>
        <p class="column3" style="text-align: left;">We are a band born, raised and nurtured in San Francisco by fog banks, burrito bombs and an infinite variety of noodles. We live to love and love to live!</p>
    </div>
    <div style="clear: both;"></div>
    <div class="about">
        <div class="post-wrap column"> 
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/caye.jpeg" width="100%" height="100%">
                    </div>
                    <!-- <div class="post-info">
                    
                    </div> -->
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Caye</h2>
                        <!-- <h3>@cayeleeg</h3> -->
                    </div>
                 </div>
            </div>
         </div>
         <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/lauren.jpeg" width="100%" height="100%" >
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Lauren</h2>
                        <!-- <h3>@laurenmuchowski</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/elise.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Elise</h2>
                        <!-- <h3>@0.50221</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/auden.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Auden</h2>
                        <!-- <h3>@qt3.1415926</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/noah.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Noah</h2>
                        <!-- <h3>@mikewazowkialsominielise</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img">
                        <img src="photos/devon.jpeg" width="100%" height="100%">
                    </div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Devon</h2>
                        <!-- <h3>@devonszalva</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>