<div>
    <div>
        <!-- <h2>About</h2> -->
        <p></p>
    </div>
    <div>
        <div class="post-wrap column"> 
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img" style="background-image: url('caye.jpeg');">
                    </div>
                    <!-- <div class="post-info">
                    
                    </div> -->
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Caye</h2>
                        <!-- <h3>@cayeleeg</h3> -->
                    </div>
                 </div>
            </div>
         </div>
         <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img"></div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Lauren</h2>
                        <!-- <h3>@laurenmuchowski</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img" style="background-image: url('feb14.jpeg');"></div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Elise</h2>
                        <!-- <h3>@0.50221</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img" style="background-image: url('feb14.jpeg');"></div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Auden</h2>
                        <!-- <h3>@qt3.1415926</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img" style="background-image: url('');"></div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Noah</h2>
                        <!-- <h3>@mikewazowkialsominielise</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div class="post-wrap column">
            <div class="post"> 
                <div class="post-front">
                    <div class="post-img" style="background-image: url('feb14.jpeg');"></div>
                    <div class="post-info">
                    
                    </div>
                 </div>
                 <div class="post-back">
                    <div class="post-except">
                        <h2>Devon</h2>
                        <!-- <h3>@devonszalva</h3> -->
                    </div>
                 </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>