<div id="gigs">
    <div class="fade-in">
        <h1>Upcoming Event Dates</h1>
        <h2 class="tbd">TO BE DETERMINED...</h2>
    </div>
    <div id="pastEvent">
        <h1>Past Events</h1>
        <div id="event" >
            <div class="pastEvent">
                <div class="date column1">
                    <h2>December 15</h2>
                    <h3>2019</h3>
                </div>
                <div class="venue column2">
                    <h2>1355 Market Street, San Francisco, CA</h2>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>