<div id="gigs">
    <div class="fade-in">
        <h1>UPCOMING EVENTS DATES</h1>
        <!-- <h2 class="tbd">TO BE DETERMINED...</h2> -->
        <div id="event">
            <div class="upcomingEvet">
                <div class="date column1">
                    <h2>DECEMBER 12 (FINALIZED DATE TBD)</h2>
                    <h3>2021</h3>
                </div>
            </div>
            <div class="venue column2">
                <h2>TO BE DETERMINED</h2>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div id="pastEvent" class="fade-in2">
        <h1>PAST EVENTS</h1>
        <div id="event" >
            <div class="pastEvent">
                <div class="date column1">
                    <h2>OCTOBER 30</h2>
                    <h3>2021</h3>
                </div>
                <div class="venue column2">
                    <h2>10 CARGO WAY, SAN FRANCISCO, CA</h2>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="event">
            <div class="pastEvent">
                <div class="date column1">
                    <h2>AUGUST 20</h2>
                    <h3>2021</h3>
                </div>
                <div class="venue column2">
                    <h2>10 CARGO WAY, SAN FRANCISCO, CA</h2>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="event" >
            <div class="pastEvent">
                <div class="date column1">
                    <h2>JUNE</h2>
                    <h3>2020</h3>
                </div>
                <div class="venue column2">
                    <h2>SFRP ONLINE SHOWCASE</h2>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="event" >
            <div class="pastEvent">
                <div class="date column1">
                    <h2>DECEMBER 15</h2>
                    <h3>2019</h3>
                </div>
                <div class="venue column2">
                    <h2>1355 MARKET STREET, SAN FRANCISCO, CA</h2>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    
</div>